.delivery {
    padding-top: 100px;
    padding-bottom: 69px;
  
    &__box {
      display: flex;
      align-items: center;
    }
  
    &__title {
      color: $text-color;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.22;
      margin-bottom: 40px;
  
      @media screen and (min-width: 720px) {
       margin-bottom: 60px;
        }
  
      @media screen and (min-width: 1264px) {
        font-size: 44px;
        margin-bottom: 91px;
      }
    }
  
  
    &__line {
      display: flex;
      align-items: center;
      border-right: 1px solid $text-color;
      height: 1px;
      width: 100%;
      background-color: $text-color;
      margin-bottom: 40px;
    
    
         @media screen and (min-width: 720px) {
          margin-bottom: 60px;
         }
    
         @media screen and (min-width: 1264px) {
          margin-bottom: 91px;
         }
    }
  
    &__span {
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      border-radius: 50%;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 16px;
      padding-right: 16px;
  
      @media screen and (min-width: 1264px) {
          font-size: 26px;
        }
    }
  
    &__text {
      color: $text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.20;
  display: flex;
  gap: 20px;
  
  @media screen and (min-width: 720px) {
     font-size: 24px;
     gap: 32px;
     }
  
     @media screen and (min-width: 1264px) {
     font-size: 32px;
     gap: 40px;
     }
    }
  }