.container {
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
       }
  
       @media screen and (min-width: 768px) {
        width: 768px;
       }
  
       @media screen and (min-width: 1264px) {
        width: 1264px;
       }
}