<section class="blog">
    <div class="container">
        <h3 class="blog__title">BLOG</h3>
        <ul class="blog__list">
            <li class="blog__item">
                <img src="" alt="left" class="blog__space">
                <img src="" alt="center" class="blog__center">
                <img src="" alt="right" class="blog__space">
            </li>
            <li class="blog__news">
                <p class="blog__follow">Follow to our newsletter</p>
                <button class="blog__sub">Subscribe</button>
            </li>
        </ul>
    </div>
</section>