<footer class="footer">
<div class="container footer__box">
    <div class="footer__div">
        <a class="footer__logo" href="./index.html">
        <svg class="footer__icon">
            <use href=""></use>
        </svg></a>
    </div>
    <div class="footer__noc">
        <ul class="footer__list">
            <li class="footer__item">
                <h3 class="footer__title">Navigation</h3>
                <a href="#" class="footer__link">Anemone</a>
                <a href="#" class="footer__link">About us</a>
                <a href="#" class="footer__link">Store</a>
                <a href="#" class="footer__link">Delivery</a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">Opening times</h3>
                <p class="footer__text">Every day 9:00 - 22:00</p>
            </li>
        </ul>
        <address class="addres">
            <ul class="addres__list">
                <li class="addres__item">
                    <a class="addres__link" href="tel:+380631234567">+38 063 123 45 67</a>
                </li>
                <li class="addres__item">
                    <a class="addres__link" href="anemonestudio@example.com">anemonestudio@example.com</a>
                </li>
                        <a class="footer__addres"
                        href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%A0%D0%B5%D0%B9%D1%82%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F,+11,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4512576,30.5099485,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4ce5bddfc5105:0x5d4781b191539b53!8m2!3d50.4512576!4d30.5125288!16s%2Fg%2F11vjlztsr7?hl=ru&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">м.
                        Reitarska Street, 11 Kyiv, Ukraine</a>
            </ul>
        </address>
    </div>
</footer>